
.vs/Blackjack/v16/.suo
obj/Debug/App.baml
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/Blackjack.csproj.CoreCompileInputs.cache
obj/Debug/Blackjack.csproj.FileListAbsolute.txt
obj/Debug/Blackjack.exe
obj/Debug/Blackjack.g.resources
obj/Debug/Blackjack.pdb
obj/Debug/Blackjack_Content.g.i.cs
obj/Debug/Blackjack_MarkupCompile.cache
obj/Debug/Blackjack_MarkupCompile.i.cache
obj/Debug/Blackjack_MarkupCompile.lref
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/Blackjack.csproj.CoreCompileInputs.cache
obj/Debug/Blackjack.csproj.FileListAbsolute.txt
obj/Debug/Blackjack.exe
obj/Debug/Blackjack.g.resources
obj/Debug/Blackjack.pdb
obj/Debug/Blackjack_MarkupCompile.cache
obj/Debug/Blackjack_MarkupCompile.i.cache
obj/Debug/Blackjack_MarkupCompile.lref
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/Blackjack.csproj.CoreCompileInputs.cache
obj/Debug/Blackjack.csproj.FileListAbsolute.txt
obj/Debug/Blackjack.exe
obj/Debug/Blackjack.g.resources
obj/Debug/Blackjack.pdb
obj/Debug/Blackjack_MarkupCompile.cache
obj/Debug/Blackjack_MarkupCompile.i.cache
obj/Debug/Blackjack_MarkupCompile.lref
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
